body {
    margin: 0;
    background-color: #f5f5f5;
}

.contenedor-principal {
    max-width: 70em;
    margin: 30px auto;
    background-color: white;
}

.header-pokedex {
    display: flex;
    align-items: center;
    background-color: white;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.titulo {
    text-align: center;
}

.titulo h1 {
    margin: 0;
    font-weight: bold;
}

.login form {
    display: flex;
    gap: 8px;
}

.login input {
    height: 2.5em;
}

.form-buscador {
    display: flex;
    width: 100%;
}

.input-busqueda {
    flex: 1;
}

.mensaje-error {
    color: red;
    font-weight: bold;
    margin-top: 20px;
}

.tabla-pokemons {
    margin-top: 4em;
}

.imagen-pokemon {
    width: 4em;
    height: 4em;
}

.imagen-tipo {
    width: 3.5em;
    height: 3.5em;
}
tbody tr td{
    vertical-align: middle !important;
}


@media screen and (max-width: 768px) {
    .header-pokedex {
        display: block;
        text-align: center;
    }

    .logo, .titulo, .login {
        margin-bottom: 15px;
    }

    .login form {
        flex-direction: column;
    }

    .form-buscador {
        flex-direction: column;
        gap: 10px;
    }

    .tabla-pokemons {
        margin-top: 2em;
    }
}